h3
  padding-left: 15px
  font-size: 2em
.TopP
  height: 100px
  background: #564185
  font-size: 2em
  color: white
  p
    margin: 50px auto
    padding: 30px 0 0 20px
.PlansC
  display: table
  align-content: center
  max-width: 1050px
  margin: 0 auto
  p
    padding: 0 0 0 15px
    max-width: 800px
  P:first-child
    font-size: 2em
    padding: 0
    margin: 0
      .button
        width: 60%
        background: #d70036
        padding: 1px 0
        margin: 0 auto
        font-size: 30px
        border-radius: 15px
        color: #1e1b18
        font-weight: bold
        a
          margin: 5px

      img
        width: 145px
footer
  margin-top: 20px
@media screen and (max-width: 1026px)
  .PlansC
    ul
      padding-left: 22%
@media screen and (max-width: 950px)
  .PlansC
    ul
      padding-left: 15%
@media screen and (max-width: 775px)
  .PlansC
    ul
      padding-left: 10%
@media screen and (max-width: 750px)
  .PlansC
    ul
      padding-left: 2%
@media screen and (max-width: 650px)
  .PlansC
    ul
      padding-left: 25%
@media screen and (max-width: 550px)
  .PlansC
    ul
      padding-left: 20%
@media screen and (max-width: 450px)
  .PlansC
    ul
      padding-left: 15%
@media screen and (max-width: 350px)
  .foot,.TopP
    min-width: 320px
  .PlansC
    ul
      padding-left: 5%
      max-width: 320px
